body{
  font-family: 'Times New Roman', Times, serif
  font-size: 25px;
}

h1{
  color: rgb(62, 87, 143);
  text-align:center;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(62, 87, 143);
  width:100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20;
    font-weight: bold;
    width:25%;
}

li a:hover {
    background-color: rgb(83, 86, 94)
}

.column {
    float:left;
    width: 50%;
    text-align: center;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

h2{
    color: rgb(62, 87, 143);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h3{
    color: rgb(62, 87, 143);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

img {
    width: 70px;
}

.technologies{
    float:left;
    column-count:5;
    text-align: center;
    padding: 10px;
}