
   body{
                background-color:rgb(184, 83, 63);
                color:white;
            }
            h1{
                background-color:rgb(58, 120, 13);
            }
            .visit-list{
                color:rgb(199, 162, 127);
            }
            #ending{
                background-color:rgb(35, 117, 14);
            }
